html {
  height: 100%;
}
body {
  height: 100%;
  min-width: 320px;
  max-width: 1024px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 68.26px;
  }
}
.cointainer {
  position: relative;
  width: 15rem;
  height: 100%;
  margin: 0 auto;
  background-color: pink;
  font-size: 28rem / 50;
}
.header-nav {
  position: absolute;
  top: 0;
  left: 0;
}
.header-nav .nav-hd,
.header-nav .nav-bd {
  overflow: hidden;
  width: 15rem;
  height: 260rem / 50;
}
.header-nav .img-bg {
  width: 15rem;
}
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
  height: 88rem / 50;
  padding: 25rem / 50;
  box-sizing: border-box;
}
.header img {
  width: 36rem / 50;
  height: 60rem / 50;
}
.header .hd-center img {
  width: 390rem / 50;
  height: 76rem / 50;
}
