<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>expression</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <div class="express">
    <h1>Hello Express</h1>
    hhh
  </div>
  <form action="/user/add" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="age" placeholder="age">
    <input type="submit" value="submit">
  </form>
</body>
</html>