* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  overflow-x: hidden;
  background-color: #333;
  color: #222;
}

.container {
  width: 100vw;
  /* height: 100vh; */
  padding: 50px;
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.4s linear;
}
.container.show-nav {
  transform: rotate(-20deg);
}
.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}
.circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ff7979;
  transition: transform .4s linear;
}

.circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: none;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: .3s;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

nav {
  position: fixed;
  bottom: 20px;
  left: 0;
  z-index: 20;
}

nav ul {
  list-style: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform .4s ease-in;
}

nav ul li i {
  tab-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}


.content img {
  max-width: 100%;
}

.content {
  max-width: 800px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}